.package-wrapper {
  height: auto;
  width: 100%;
  background: url("../images/getintouch-background.webp") center no-repeat,
    var(--light-black);
  background-size: cover;
}

.package-container {
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.package-container > h2 {
  color: var(--white);
  font: 600 var(--heading) var(--SF-Semibold);
}

.package-container > p {
  color: #f4f7f8c5;
  font: 400 2rem var(--SF-Regular);
}

.package-container {
  text-align: center;
}

.package-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 2rem 0rem 1rem;
}

.package-heading > h3 {
  color: var(--white);
  font: 600 3rem var(--SF-Semibold);
}

.package-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: auto;
  width: 100%;
}

.package-box {
  padding: 2rem;
  border-radius: 1rem;
  transition: all ease 0.5s;
  text-align: left;
  box-shadow: 0 0.2rem 0.8rem rgba(28, 28, 28, 0.08);
  border: 0.1rem solid #e8e8e8;
  background-color: var(--white);
}

.package-box:last-child {
  background-color: #fff2c3;
}

.package-title {
  font: 600 2.5rem var(--SF-Semibold);
  margin-bottom: 0.5rem;
}

.package-desc {
  color: var(--grey);
  font: 500 var(--para) var(--SF-Regular);
}

.course-price {
  display: flex;
  gap: 0.5rem;
  margin: 2rem 0rem 2rem;
}

.course-price > span {
  color: var(--light-black);
  font: 500 1.4rem var(--SF-Regular);
}

.course-price > p {
  color: var(--light-black);
  font: 600 4rem var(--SF-Semibold);
}

.plan-details {
  list-style: none;
  height: 10rem;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
  color: #212121;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.plan-details > li {
  font: 500 1.6rem var(--SF-Regular);
  line-height: 3rem;
}

.plans-icon {
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.viewMoreBtn {
  display: block;
  width: fit-content;
  margin: auto;
  color: #19ad6f;
  font: 500 1.7rem var(--SF-Regular);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.choose-plan-btn {
  display: block;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: var(--radius);
  background-color: #19ad6f;
  color: var(--white);
  font: 500 2.3rem var(--SF-Regular);
  text-align: center;
}

.h-full {
  height: auto !important;
}

@media only screen and (max-width: 992px) {
  .dynamic-container,
  .package-container {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 768px) {
  .dynamic-container,
  .package-container {
    max-width: 72rem;
  }

  .package-container {
    padding: 5rem 1rem;
  }

  .package-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .dynamic-container,
  .package-container {
    max-width: 54rem;
  }

  .package-heading {
    justify-content: center;
    flex-wrap: wrap;
  }
}
