.portfolio-container,
.wearebest-container {
  height: auto;
  max-width: 114rem;

  margin: 0 auto;
  padding: 8rem 2rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.portfolio-imageholder > img {
  display: block;
  height: auto;
  width: 60%;
  margin: auto;
  border-radius: var(--radius);
}

.portfolio-content > h1 {
  color: var(--light-black);
  margin-bottom: 1rem;
}
.portfolio-content > article {
  color: var(--lb-textColor);
  margin-bottom: 3rem;
}
.portfolio-content > h1,
.wearebest-container > h2 {
  font: 600 var(--heading) var(--SF-Semibold);
}

.portfolio-content > article {
  font: 500 2rem var(--SF-Regular);
}

.profile-content {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.profile-content > img {
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}

.profile-content > div > h2 {
  color: var(--light-black);
  font: 600 var(--big-para) var(--SF-Semibold);
}

.profile-content > div > p {
  color: var(--lb-textColor);
  margin-top: 1rem;
  font: 500 1.7rem var(--SF-Regular);
}

.wearebest-container {
  text-align: center;
}

.wearebest-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
  padding: 2rem 0rem;
}

.wearebest-box {
  padding: 2rem;
  box-shadow: 2rem 2rem 5rem 0.5rem
    rgba(162.00000000000003, 172.00000000000006, 202.00000000000003, 0.15);
  border-radius: var(--radius);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wearebest-wrapper {
  background-color: #fef8f3;
}

.box-icons {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #ecd99628;
}

.box-icons > img {
  height: 4rem;
  width: 4rem;
  vertical-align: middle;
  opacity: 0.6;
}

@media only screen and (max-width: 992px) {
  .portfolio-container,
  .wearebest-container {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio-container,
  .wearebest-container {
    max-width: 72rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio-container,
  .wearebest-container {
    padding: 5rem 1rem;
    max-width: 54rem;
  }

  .portfolio-imageholder > img {
    width: 100%;
  }
}
