.portfolio-container {
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
  padding: 8rem 2rem;
  text-align: center;
}

.portfolio-container > p {
  margin-bottom: 2rem;
  color: goldenrod;
  font: 500 1.8rem var(--SF-Semibold);
}

.portfolio-container > h1 {
  color: var(--light-black);
  font: 600 var(--heading) var(--SF-Semibold);
}

.portfolio-container > article {
  color: var(--lb-textColor);
  font: 500 2rem var(--SF-Regular);
  line-height: 3rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0rem;
}

.project {
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 2rem 2rem 5rem 0.5rem
    rgba(162.00000000000003, 172.00000000000006, 202.00000000000003, 0.15);
  border-radius: var(--radius);
}

.project > img {
  height: auto;
  width: 100%;
  border-radius: var(--radius);
}

.project > h2 {
  margin-top: 1rem;
  color: var(--light-black);
  font: 600 var(--big-para) var(--SF-Semibold);
}

@media only screen and (max-width: 992px) {
  .portfolio-container {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio-container {
    max-width: 72rem;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio-container {
    padding: 5rem 1rem;
    max-width: 54rem;
  }
}
