* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--regular);
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
}

:root {
  --light-black: #101010;
  --black: #000000;
  --dark-grey: #242426;
  --grey: #a1a1a1;
  --white: #ededed;
  --font-gret: #7a7a7e;
  --blue: #0077ed;
  --green: #19ad6f;
  --round: 10rem;
  --radius: 1rem;
  --regular: "Telegraph-regular", sans-serif;
  --code: "Code", sans-serif;
}

a {
  text-decoration: none;
}

img {
  content-visibility: auto;
}

@font-face {
  font-family: "Telegraph-regular";
  src: url("../fonts/e11418ac562b8ac1.p.woff2");
}

@font-face {
  font-family: "Code";
  src: url("../fonts/66f30814ff6d7cdf.p.woff2");
}

/* Navbar */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  height: auto;
  max-width: 132rem;

  margin: 0 auto;
  padding: 2rem 0rem;
}

.logo {
  color: var(--light-black);
  font: 600 4rem var(--regular);
}

.logo > span {
  color: var(--green);
}

.menu-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}
.menu-btn > img {
  height: 4rem;
  width: 4rem;
  vertical-align: middle;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -40%;
  z-index: 999;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  height: 100vh;
  width: 40%;

  padding: 10rem 4rem;

  background: rgba(255, 255, 255, 0.849);
  /* box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.35rem);
  -webkit-backdrop-filter: blur(0.35rem);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}
.menu-container > p {
  font: 500 1.8rem var(--regular);
  margin-bottom: 8rem;
  overflow: hidden;
}

.menu-container > a {
  color: var(--black);
  display: block;
  font: 400 2rem var(--regular);
  margin-bottom: 2rem;
  overflow: hidden;
}

.menu-container > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu-links {
  color: var(--light-black);
  font: 600 5.5rem var(--regular);
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.close-btn > img {
  height: 5rem;
  width: 5rem;
  vertical-align: middle;
  cursor: pointer;
}

/* main contanet */
main {
  height: auto;
  max-width: 132rem;
  margin: 0 auto;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  height: 90vh;
  width: 100%;
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-text > h1 {
  font: 600 5rem var(--regular);
  margin-bottom: 1rem;
}

.hero-text > h1 > span {
  color: var(--green);
}

.hero-text > p {
  color: var(--dark-grey);
  font: 400 2rem var(--regular);
  margin-bottom: 3rem;
}

.hero-btn-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3rem;
}

.portfolio-btn,
.contactus-btn {
  font: 500 2rem var(--regular);
  padding: 1.2rem 3rem;
  border-radius: var(--round);
}

.portfolio-btn {
  color: var(--dark-grey);
  background-color: var(--green);
}

.contactus-btn {
  color: var(--white);
  background-color: var(--dark-grey);
}

.heroimg_holder > img {
  height: auto;
  width: 100%;
  mix-blend-mode: multiply;
}

.hero_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero_form > button {
  color: var(--white);
  background-color: var(--green);
  border: none;
  padding: 1.5rem;
  font: 500 2rem var(--regular);
  text-transform: capitalize;
  margin-top: 2rem;
  border-radius: var(--radius);
  /* box-shadow: rgba(25, 173, 111, 0.315) 0 0 0.5rem 1rem; */
}
.hero_inputs {
  color: var(--light-black);
  padding: 2rem;
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  border-radius: var(--radius);
  font: 400 1.5rem var(--regular);
}

.hero_inputs:focus {
  outline: none;
}

/* .cms-links */
@media only screen and (max-width: 1300px) {
  .sidebar {
    width: 55%;
    right: -55%;
  }
  #navbar,
  main {
    max-width: 114rem;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .sidebar {
    width: 70%;
    right: -70%;
  }
  #navbar,
  main {
    max-width: 96rem;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .sidebar {
    width: 90%;
    right: -90%;
  }
  #navbar,
  main {
    max-width: 72rem;
  }

  .hero-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  #navbar,
  main {
    max-width: 54rem;
  }
  .sidebar {
    width: 100%;
    right: -100%;
  }

  .menu-links {
    font-size: 4rem;
  }

  .menu-btn > img {
    height: 5rem;
    width: 5rem;
  }
}
