.hero-section {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
  padding: 8rem 2rem;
}

.heroimage-holder > img {
  display: block;
  height: auto;
  width: 80%;
  margin: auto;
}
.hero-content {
  display: flex;
  flex-direction: column;
  direction: ltr;
}
.hero-content > h1,
.hero-content > h2,
.slider-wrapper > h2,
.slider-wrapper > h3 {
  position: relative;
  font: 600 var(--heading) var(--SF-Semibold);
  margin-bottom: 2rem;
  overflow-y: hidden;
}

.hero-content > h2,
.slider-wrapper > h3 {
  color: var(--white);
}
.hero-content > p,
.slider-wrapper > p {
  color: var(--lb-textColor);
  font: 600 var(--big-para) var(--SF-Semibold);
  margin-bottom: 2rem;
  line-height: 1.4;
}
.hero-content > h2 + p {
  font-weight: 400;
  color: #f4f4f4;
}

.herotxt-holder {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.herotxt-holder > p {
  color: var(--light-black);
  font: 600 2rem var(--SF-Semibold);
}

.herotxt-img {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.herosm-txt {
  font-size: 1.2rem;
}

.purple-blur,
.purple-blur2 {
  position: absolute;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  background-color: rgb(214, 110, 235);
  opacity: 0.5;
  filter: blur(9rem);
}

.purple-blur {
  top: 0;
  left: 0;
}
.purple-blur2 {
  bottom: 0;
  right: 0;
}

.hero2-section {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color: var(--black);
}

.hero2-section > .hero-section {
  direction: rtl;
}

.hero2-section > .hero-section > .hero-content {
  text-align: left;
}

/* Hero section 3 */
.hero3-section {
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
  padding: 8rem 2rem;
}

.slider-wrapper {
  width: 100%;
  text-align: center;
}

.websiteicon-holder {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.websiteicon-holder > img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.slider-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  background: var(--light-black);
  margin: auto;
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  height: 60rem;
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.slideImage-holder {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideImage-holder > img {
  height: 40rem;
  width: 30rem;
}

.caption {
  color: var(--white);
  padding: var(--radius);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption h2 {
  margin-bottom: 1rem;
  font: 500 4rem var(--SF-Semibold);
}
.caption > ul {
  text-align-last: left;
}
.caption > ul > li {
  margin-bottom: 0;
  list-style-position: inside;
  font: 400 2rem var(--SFtxt-Light);
  margin-bottom: 1rem;
}

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem;
  background-color: #7d7d7d;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active,
.dot:hover {
  background-color: #ffffff;
}
.hero2-section .slider-wrapper {
  position: relative;
  z-index: 2;
}
.hero2-section .slider-wrapper h2,
.hero2-section .slider-wrapper p {
  color: var(--white);
}

.solutions-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.solutions-container > div {
  position: relative;
  z-index: 2;
  background-color: var(--lb-textColor);
  padding: 2rem;
  border-radius: var(--radius);
}

.solutions-container div h3 {
  color: #f4f4f4d7;
  font: 500 3rem var(--SF-Semibold);
  margin-bottom: 0.5rem;
}

.solutions-container div p {
  color: #f4f4f4d7;
  font: 400 var(--para) var(--SFtxt-Light);
}

.solutions-container div img {
  display: block;
  height: 33rem;
  width: 23rem;
  margin: 4rem auto 2rem;
}

.problem-solutions-cotainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}

.ps-box {
  padding: 2rem 1.5rem;
  background-color: #262626;
  border-radius: var(--radius);
}

.ps-box > img {
  height: auto;
  width: 65%;
}

.ps-box > p {
  margin-top: 1rem;
  font: 500 2rem var(--SF-Regular);
  white-space: nowrap;
}

.slider-wrapper > h3 {
  margin: 4rem 0rem 2rem;
}

.clients-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
  margin-bottom: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

.clients-container::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

.clients-container > div {
  height: 18rem;
  min-width: 18rem;
  max-width: 18rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
}
.clients-container > div > img {
  height: auto;
  width: 80%;
}

.chartanalysis-text {
  color: #0f6207 !important;
  font: 500 var(--big-para) var(--SF-Regular);
}

.chartanalysis-text > span {
  color: #d10309 !important;
}

.qwikhired-text {
  color: var(--light-black) !important;
  font: 600 3rem var(--SF-Semibold);
}

.qwikhired-text > span {
  font-size: 1.6rem;
}

.happyclients-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url("../images/happy-clients.webp") center;
  background-size: auto, cover;
}

.happyclients-container > h2 {
  color: var(--white);
  font: 600 var(--heading) var(--SF-Semibold);
  text-align: center;
}

.happyclients-container > h2 > span {
  color: var(--goldenrod);
}
.homepage-contactform,
.form-div {
  display: flex;
  flex-direction: column;
}
.homepage-contactform {
  gap: 2rem;
  direction: ltr;
  padding: 4rem 2rem;
  background-color: #262626;
  border-radius: var(--radius);
}

.homepage-contactform > h2 {
  color: var(--white);
  font: 600 var(--heading) var(--SF-Semibold);
}
.bothinput-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.form-div {
  gap: 1rem;
}

.form-div > label {
  color: #f4f7f8;
  font: 500 2rem var(--SF-Regular);
}

.form-div > input {
  color: var(--light-black);
  padding: 1.5rem;
  font: 500 1.8rem var(--SF-Regular);
  border-radius: var(--round);
  border: none;
  background-color: var(--white);
}

.form-div > input::-webkit-outer-spin-button,
.form-div > input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.form-div > input:focus {
  outline: none;
}

.homepage-contactform > button {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--goldenrod);
  border: none;
  font: 500 2rem var(--SF-Regular);
  border-radius: var(--round);
  cursor: pointer;
}

.staytouch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
}

.staytouch-container > h2 {
  color: var(--white);
  font: 600 var(--big-para) var(--SF-Semibold);
}

.staytouch-container > h2 > span {
  color: var(--goldenrod);
  font-size: var(--heading);
}

@media only screen and (max-width: 1200px) {
  .problem-solutions-cotainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .hero-section,
  .hero3-section {
    max-width: 96rem;
  }
  .ps-box > img {
    height: auto;
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .hero3-section {
    max-width: 72rem;
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }
  .hero-section {
    max-width: 72rem;
    padding: 2rem 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .slider-container {
    height: auto;
    width: 100%;
  }
  .slide {
    height: auto;
    flex-wrap: wrap;
  }
  .slideImage-holder {
    width: 100%;
    margin: 2rem 0rem 4rem;
  }
  .slideImage-holder > img {
    height: 50rem;
    width: 100%;
  }

  .caption {
    color: var(--white);
    padding: var(--radius);
    text-align: left;
    width: 100%;
  }

  .solutions-container,
  .bothinput-holder {
    grid-template-columns: repeat(1, 1fr);
  }

  .clients-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .seo-content > div,
  .faq-container {
    padding: 2rem 1rem;
  }

  .clients-container > div > img {
    width: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section,
  .hero3-section {
    max-width: 54rem;
  }
  .herotxt-holder {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .problem-solutions-cotainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .ps-box {
    padding: 2rem 1rem;
  }
}
